:root {
    --p50: #f6fcff;
    --p75: #d8f2fd;
    --p100: #c8edfd;
    --p200: #b1e5fc;
    --p300: #a1e0fb;
    --p400: #719db0;
    --p500: #628999;

    --s50: #fbf8fd;
    --s75: #f0e3f6;
    --s100: #ead8f2;
    --s200: #e0c7ed;
    --s300: #dabbe9;
    --s400: #9983a3;
    --s500: #85728e;

    --t50: #fffafb;
    --t75: #ffebf0;
    --t100: #ffe3ea;
    --t200: #ffd6e0;
    --t300: #ffceda;
    --t400: #b39099;
    --t500: #9c7e85;

    --f50: #fffff3;
    --f75: #fffdcd;
    --f100: #fffcb9;
    --f200: #fffb9b;
    --f300: #fffa86;
    --f400: #b3af5e;
    --f500: #9c9952;

    --g50: #f6fff8;
    --g75: #d8fde0;
    --g100: #d8fde0;
    --g200: #b0fbc1;
    --g300: #a0fab4;
    --g400: #70af7e;
    --g500: #62996e;

    --n0: #ffffff;
    --n10: #fafafa;
    --n20: #f5f6f6;
    --n30: #ececed;
    --n40: #e0e1e1;
    --n50: #c3c5c5;
    --n60: #b5b7b7;
    --n70: #a9abac;
    --n80: #9a9d9e;
    --n90: #8c8f90;
    --n100: #7d8182;
    --n200: #6f7374;
    --n300: #616567;
    --n400: #555a5b;
    --n500: #464c4d;
    --n600: #3a4042;
    --n700: #293031;
    --n800: #1b2224;
}