.v-divider {
  border-color: #e20b0b !important;
}

.cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 2px;
  background: #b2abab;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d7c7c;
  cursor: pointer;
}